<!-- Open Graph meta tags -->
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
{{- with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
{{- else }}
{{- with .Site.Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
{{- end }}
{{- end }}

<!-- Twitter Card meta tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
{{- with .Params.image }}
<meta name="twitter:image" content="{{ . | absURL }}">
{{- else }}
{{- with .Site.Params.image }}
<meta name="twitter:image" content="{{ . | absURL }}">
{{- end }}
{{- end }}
